scikit-learn>=0.23.2
pandas>=1.1.4
numpy>=1.26.0;  python_version >= "3.9"
numpy<=1.24.4; python_version == "3.8"
mne>=0.20.8
seaborn>=0.11.0
pyriemann>=0.2.7
jupyter
gdown>=4.5.1
matplotlib>=3.3.3
pysocks>=1.7.1
pyserial>=3.5
h5py>=3.1.0
pytest-shutil
pyo>=1.0.3; platform_system == "Linux"
pyobjc==7.3; sys_platform == 'darwin'
airium>=0.1.0
attrdict>=2.0.1
attrdict3
